# eclipse
bin/
*.launch
.settings
.metadata
.classpath
.project

# idea
out/
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build/
.gradle/

# other
eclipse/
run/
runs/

# deechael
.temp/
dont-read-neoforge-folder-plz
MODRINTH_README.md
SUGGESTIONS.md
CHANGELOG-2.6.0.md
CHANGELOG-2.5.0.md
CHANGELOG-2.0.0.md
